@font-face {
  font-family: "Azi";
  src: url("../../font/BYekan+.ttf");
}

.hero {
  width: 100%;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 50px 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 50%;
  max-width: 1200px;
}

.hero__title {
  font-family: 'Azi';
  color: black;
  line-height: 1.1;
  font-size: 2.5rem;
}

.hero__title:nth-child(1) {
  font-size: 1.5rem;
}

.hero__text {
  font-family: 'Azi';
  color: black;
  margin-block: 2em;
  line-height: 165%;
  font-size: 1.125rem;
}

.hero__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 0.75em 2em;
  background-color: #38CFD9;
  color: #072A2D;
  border-radius: 4em;
}

.hero__btn:hover {
  opacity: 0.75;
}

.hero__img {
  width: 40%;
/*   max-width: 340px; */
  align-self: flex-start;
  border-radius: 1em;
}

.services {
  height: 100vh;
  padding-top: 100px; 
}

.services__main {
  width: 50%;;
}

@media (max-width: 764px) {
  .wrapper {
  display: block;
 
  }
  
  .hero {
    height: auto;
  }
  
  .content, 
  .hero__img,
  .services__main,
  .services__aside {
    width: 100%;
  }
  
  .hero__btn {
    margin-bottom: 3rem;
  }
}